{% extends "employee_register/base.html" %}


{% block content %}

   
<h2 style="color: teal;"><u>ASSIGNED PERSONS LIST [ {{date}}  ]</u></h2>
<h3><u>Total Assigned  {{counts_ass}}</u></h3>
 <div class="col-md-8" ><br>
            <a href="{% url 'assign_task' %}" class="btn btn-info">
                <i class="fas fa-stream"></i> BACK 
            </a>
        </div>
  <div class="col-md-8"  style="margin-left: 100px;margin-top: -60px;"><br>
            <a href="{% url 'overall_data' %}" class="btn btn-info">
                <i class="fas fa-stream"></i> Overall Today Data 
            </a>
        </div>


    <div class="col-md-8" ><br>
            <a href="{% url 'reassign_task' %}" style="color:whitesmoke;margin-left: 300px;margin-top: -110px;" class="btn btn-info">
                <i class="fas fa-stream"></i> RE--ASSIGN TASK
            </a>
        </div>    




        <div class="col-md-8" ><br>
            <a href="{% url 'assign_previous' %}" class="btn btn-info" style="margin-left: 500px;margin-top: -210px;">
                <i class="fas fa-stream"></i> YESTERDAY 
            </a>
        </div>                   


<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 45%;
  padding: 0px;
}
.columnsn {
  float: left;
  width: 39%;
  /*padding: 0px;*/
  margin-left:-140px ;
}
.columns {
  float: left;
  width: 16%;
  /*padding: -5px;*/
  margin-left: -120px;
}
.columnsm {
  float: left;
  width: 22%;
  /*padding: 0px;*/
  margin-left:-60px ;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  font-size: 13px;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>


<br>


<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>FULL NAME</th>
        <th>MOBILE</th>
        
      </tr>
      
      {% for data in emp_det %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <td>{{data.mobile}}</td>
        
      {% endfor %}  
      </tr>

 
      
    </table>
  </div>

  
  <div class="columnsn">
    <table class="projs">
      <tr>
        <th>Project Name</th>
      </tr>
       {% for datapr in proj_name %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
        
    </table>
  </div>
        



  
  <div class="columns">
    <table>
      <tr>
        <th>Platform Name</th>
        
      </tr>
       {% for datapl in pla_name %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %} 
        
    </table>

  </div>
  
  <div class="columnsm">
    <table>
      <tr>
      <th>TeamLeader Name</th>
      </tr>
       {% for tl in tl_fulname %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
   
    </table>
  </div>
        
</div>








<div class="row">
  <div class="column">
    <table>
  
      {% for datan in ressignm_det %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <td>{{datan.mobile}}</td>
      {% endfor %}  
      </tr>
      
    </table>
  </div>
  
  <div class="columnsn">
    <table>
      
       {% for datapre in se_proj %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %} 
    </table>
  </div>
  
  <div class="columns">
    <table>
   
       {% for datapll in se_plat %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %} 
    </table>
  </div>

    <div class="columnsm">
    <table>
    
       
       {% for tls in tl__fulname %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
        

      

    </table>
  
  </div>

</div>

 

       
       
       
       

      

</div>






                    
                  
                           


  

{% endblock content %}