{% extends "employee_register/base.html" %}


{% block content %}

   
<h2 style="color: teal;"><u>ASSIGNED PERSONS LIST [ {{date}}  ]</u></h2>
<h3><u>Total Assigned  {{counts_ass}}</u></h3>
 <div class="col-md-8" ><br>
            <a href="{% url 'assign_task' %}" class="btn btn-info">
                <i class="fas fa-stream"></i> BACK 
            </a>
        </div>
  <div class="col-md-8"  style="margin-left: 100px;margin-top: -60px;"><br>
            <a href="{% url 'overall_data' %}" class="btn btn-info">
                <i class="fas fa-stream"></i> Overall Today Data 
            </a>
        </div>


     




        <div class="col-md-8" ><br>
            <a href="{% url 'assign_previous' %}" class="btn btn-info" style="margin-left: 500px;margin-top: -210px;">
                <i class="fas fa-stream"></i> YESTERDAY 
            </a>
        </div>                   


<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 38%;
  padding: 0px;
}
.columnsn {
  float: left;
  width: 55%;
  /*padding: 0px;*/
  margin-left:-140px ;
}
.columns {
  float: left;
  width: 16%;
  /*padding: -5px;*/
  margin-left: -170px;
}
.columnsm {
  float: left;
  width: 22%;
  /*padding: 0px;*/
  margin-left:-60px ;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  font-size: 13px;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>






<!-- =========================================== -->

<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>FULL NAME</th>
        <!-- <th>MOBILE</th> -->
        
      </tr>
     <!-- =========================== --> 
      {% for data in emp_det %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %}  
      </tr>
      <!-- ======================================== -->
       {% for data in emp_det_id1 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det1 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %}  
      </tr>
      <!-- ============================================= -->
      {% for data in emp_det_id2 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det2 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %}
      </tr>
      <!-- ===================================== --> 
      {% for data in emp_det_id3 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det3 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %}
      </tr> 
      <!-- ====================================== -->
       {% for data in emp_det_id4 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det4 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- ================================= -->
      {% for data in emp_det_id5 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det5 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- =============================== -->
      {% for data in emp_det_id6 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det6 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- ============================== -->
       {% for data in emp_det_id7 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det7 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- ==================================== -->
       {% for data in emp_det_id8 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det8 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- ====================================== -->

       {% for data in emp_det_id9 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det9 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- ================================= -->
       {% for data in emp_det_id10 %}
      <tr>
        
        <td>{{data.full_name}}</td>
       <!--  <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det10 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>

      <!-- =================================== -->
       {% for data in emp_det_id11 %}
      <tr>
        
        <td>{{data.full_name}}</td>
       <!--  <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det11 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- =============================== -->
       {% for data in emp_det_id12 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det12 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
      <!-- ================================ -->
       {% for data in emp_det_id13 %}
      <tr>
        
        <td>{{data.full_name}}</td>
        <!-- <td>{{data.mobile}}</td> -->
        
      {% endfor %}  
      </tr>
      {% for datan in ressignm_det13 %}
      
      <tr>
        <td>{{datan.full_name}}</td>
        <!-- <td>{{datan.mobile}}</td> -->
      {% endfor %} 
      </tr>
 
      
    </table>
  </div>

  
  <div class="columnsn">
    <table class="projs">
      <tr>
        <th>Project Name</th>
      </tr>
       {% for datapr in proj_name %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}

      <!-- ==================================== -->
      {% for datapr in new_app1 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj1 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- ==================================== --> 
      {% for datapr in new_app2 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj2 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- ==================================== -->
       {% for datapr in new_app3 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj3 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- ============================= -->
      {% for datapr in new_app4 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj4 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- =============================== -->
      {% for datapr in new_app5 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj5 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- =========================== -->
      {% for datapr in new_app6 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj6 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- =============================== -->
      {% for datapr in new_app7 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj7 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- ================================= -->
       {% for datapr in new_app8 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj8 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- ============================== -->
       {% for datapr in new_app9 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj9 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- ==================== -->
       {% for datapr in new_app10 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj10 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- =============================== -->
       {% for datapr in new_app11 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj11 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- ============================= -->
       {% for datapr in new_app12 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj12 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
      <!-- =============================== -->
       {% for datapr in new_app13 %}  
      <tr>
        <td>{{datapr}}</td>
      </tr>
      {% endfor %}
      {% for datapre in se_proj13 %}  
      <tr>
        <td>{{datapre}}</td>
      </tr>
      {% endfor %}
     


        
    </table>
  </div>
        



  
  <div class="columns">
    <table>
      <tr>
        <th>Platform Name</th>
        
      </tr>
       {% for datapl in pla_name %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %} 
      <!-- ======================================= -->
        {% for datapl in new_prj1 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat1 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ======================================= -->

       {% for datapl in new_prj2 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat2 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}

      <!-- ========================================== -->
       {% for datapl in new_prj3 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat3 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ========================================= -->
       {% for datapl in new_prj4 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat4 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ========================================== -->
      {% for datapl in new_prj5 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat5 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ======================================= -->
      {% for datapl in new_prj6 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat6 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ============================= -->
      {% for datapl in new_prj7 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat7 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ================================ -->
      {% for datapl in new_prj8 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat8 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ============================== -->
      {% for datapl in new_prj9 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat9 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- =============================== -->
      {% for datapl in new_prj10 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat10 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- ================================ -->
      {% for datapl in new_prj11 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat11 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- =============================== -->
      {% for datapl in new_prj12 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat12 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}
      <!-- =================================== -->
      {% for datapl in new_prj13 %}  
      <tr>
        <td>{{datapl}}</td>
      </tr>
      {% endfor %}
      {% for datapll in se_plat13 %}  
      <tr>
        <td>{{datapll}}</td>
      </tr>
      {% endfor %}

        
    </table>

  </div>
  
  <div class="columnsm">
    <table>
      <tr>
      <th>TeamLeader Name</th>
      </tr>
       {% for tl in tl_fulname %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}

      <!-- ========================== -->
      {% for tl in tl_fulname1 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname1 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ============================ -->
      {% for tl in tl_fulname2 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname2 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ================================== -->
      {% for tl in tl_fulname3 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname3 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ==================================== -->
       {% for tl in tl_fulname4 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname4 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ============================= -->
       {% for tl in tl_fulname5 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname5 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ============================== -->
      {% for tl in tl_fulname6 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname6 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- -================================= -->
      {% for tl in tl_fulname7 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname7 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ==================================== -->
      {% for tl in tl_fulname8 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname8 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ============================== -->
      {% for tl in tl_fulname9 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname9 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- =================================== -->
      {% for tl in tl_fulname10 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname10 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ================================== -->
      {% for tl in tl_fulname11 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname11 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ====================================== -->
      {% for tl in tl_fulname12 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname12 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
      <!-- ================================== -->
      {% for tl in tl_fulname13 %}  
      <tr>
      <td>{{tl}}</td>
      </tr>
       {% endfor %}
        {% for tls in tl__fulname13 %}
      <tr>
        <td>{{tls}}</td>
      </tr>
      {% endfor %}
   
    </table>
  </div>
        
</div>









{% endblock content %}