{% extends "employee_register/base.html" %}


{% block content %}


<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 40%;
  padding: 0px;
}



.columns1 {
  float: left;
  width: 50%;
  /*padding: 0px;*/
  margin-left:-130px ;
}
.columns2{
 float: left;
  width: 30%;
  /*padding: 0px;*/
  margin-left:-150px ;   
}

.columns3{

  float: left;
  width: 10%;
  /*padding: 0px;*/
  margin-left:-90px ;   
}



table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  /*border: 1px solid #ddd;*/
}

th, td {
  text-align: left;
  font-size: 12px;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>



<h2><b><u>Overall-Summary Date ({{date}}) </u></ul><b></h2>
    <h3>(TOTAL ASSINEED ----{{counts_people}})</h3>

    <div class="col-md-8" ><br>
            <a href="{% url 'assign_task' %}" style="color:whitesmoke;" class="btn btn-info">
                <i class="fas fa-stream"></i> BACK 
            </a>
        </div>

<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>FULL NAME</th>
      </tr>
      <tr>  
      <td>{{count__1}}</td>

     
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <tr>
        <th>Project & Platform Details</th>
      </tr>
    {% if counttl1_emp == '' %}
    <br>

    {% else %}  

      <tr>
      {% for pro in pr1 %}  
      <td>{{pro}}</td>
      </tr>
      {% endfor %}

      <tr>
      {% for pros1 in prs1 %}  
      <td>{{pros1}}</td>
      </tr>
      {% endfor %} 
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <tr>
        <th>Project People Count</th>
      </tr>
      <tr>
      {% for pla in pla1 %}  
      <td>{{pla}}</td>
      </tr>
      {% endfor %}

      <tr>
      {% for plas1 in plas1 %}  
      <td>{{plas1}}</td>
      </tr>
      {% endfor %} 
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
      <tr>
        <th>Total Count</th>
      </tr>
       <tr>
      {% if counttl1_emp == '' %}  

      <td>{{main_count1}}</td>
      {% elif counttls1_emp == '' %}
      <td>{{main_count1}}</td>

      {% else %}
      <td>{{main_count1}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
       

</div>
<br>
   {% endif %} 
   
<!-- ============================================ -->
{% if counttl2_emp == '' %}
<br>
{% else %}
<!--  counttls1_emp,'prs1':prs1,'plas1 -->
<div class="row">
  <div class="column">
    <table>
      
      <tr>  
      <td>{{count__2}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      
      <tr>
      {% for pro1 in pr2 %}  
      <td>{{pro1}}</td>
      </tr>
      {% endfor %} 
      
      <tr>
      {% for pros2 in prs2 %}  
      <td>{{pros2}}</td>
      </tr>
      {% endfor %}
        
    </table>
  </div>



  <div class="columns2">
    <table>
      
      <tr>
      {% for pla1 in pla2 %}  
      <td>{{pla1}}</td>
      </tr>
      {% endfor %}
       
       <tr>
      {% for plas2 in plas2 %}  
      <td>{{plas2}}</td>
      </tr>
      {% endfor %}  
    
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    
      <tr>
      {% if counttl2_emp == '' %}  

      <td>{{main_count2}}</td>
      {% elif counttls2_emp == '' %}
      <td>{{main_count2}}</td>

      {% else %}
      <td>{{main_count2}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
       

</div>
<br>
{% endif %}




<!-- ============================0 -->
{% if counttl3_emp == '' %}
<br>
{% else %}

<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__3}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro2 in pr3 %}  
      <td>{{pro2}}</td>
      </tr>
      {% endfor %}

      <tr>
      {% for pros3 in prs3 %}  
      <td>{{pros3}}</td>
      </tr>
      {% endfor %}


        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla2 in pla3 %}  
      <td>{{pla2}}</td>
      </tr>
      {% endfor %}

       <tr>
      {% for plas3 in plas3 %}  
      <td>{{plas3}}</td>
      </tr>
      {% endfor %} 
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
      <tr>
      {% if counttl3_emp == '' %}  

      <td>{{main_count3}}</td>
      {% elif counttls3_emp == '' %}
      <td>{{main_count3}}</td>

      {% else %}
      <td>{{main_count3}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
       

</div>
<br>
{% endif %}


<!-- ============================ -->

{% if counttl4_emp == '' %}
<br>
{% else %}
<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__4}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro3 in pr4 %}  
      <td>{{pro3}}</td>
      </tr>
      {% endfor %} 


      <tr>
      {% for pros4 in prs4 %}  
      <td>{{pros4}}</td>
      </tr>
      {% endfor %}

      
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla3 in pla4 %}  
      <td>{{pla3}}</td>
      </tr>
      {% endfor %} 

      <tr>
      {% for plas4 in plas4 %}  
      <td>{{plas4}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
     <tr>
      {% if counttl4_emp == '' %}  

      <td>{{main_count4}}</td>
      {% elif counttls4_emp == '' %}
      <td>{{main_count4}}</td>

      {% else %}
      <td>{{main_count4}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
<br>
{% endif %}        



<!-- =========================================== -->

{% if counttl5_emp == '' %}
<br>
{% else %}
      
<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__5}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro4 in pr5 %}  
      <td>{{pro4}}</td>
      </tr>
      {% endfor %}

      {% for pros5 in prs5 %}  
      <td>{{pros5}}</td>
      </tr>
      {% endfor %}

      
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla4 in pla5 %}  
      <td>{{pla4}}</td>
      </tr>
      {% endfor %} 

      <tr>
      {% for plas5 in plas5 %}  
      <td>{{plas5}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
       <tr>
      {% if counttl5_emp == '' %}  

      <td>{{main_count5}}</td>
      {% elif counttls5_emp == '' %}
      <td>{{main_count5}}</td>

      {% else %}
      <td>{{main_count5}}</td>
      </tr>
      {% endif %}
    </table>
  </div>

</div>
<br>
{% endif %}

<!-- ====================================== -->

{% if counttl6_emp == '' %}
<br>
{% else %}
      
<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__6}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro5 in pr6 %}  
      <td>{{pro5}}</td>
      </tr>
      {% endfor %}

      {% for pros6 in prs6 %}  
      <td>{{pros6}}</td>
      </tr>
      {% endfor %}

       
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla5 in pla6 %}  
      <td>{{pla5}}</td>
      </tr>
      {% endfor %}

      <tr>
      {% for plas6 in plas6 %}  
      <td>{{plas6}}</td>
      </tr>
      {% endfor %}  
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
       <tr>
      {% if counttl6_emp == '' %}  

      <td>{{main_count6}}</td>
      {% elif counttls6_emp == '' %}
      <td>{{main_count6}}</td>

      {% else %}
      <td>{{main_count6}}</td>
      </tr>
      {% endif %}
    </table>
  </div>

</div>
<br>
{% endif %}





<!-- =============================== -->

{% if counttl7_emp == '' %}
<br>
{% else %}
<div class="row">
  <div class="column">
    <table>
    
      <tr>  
      <td>{{count__7}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
     
      <tr>
      {% for pro6 in pr7 %}  
      <td>{{pro6}}</td>
      </tr>
      {% endfor %} 

      {% for pros7 in prs7 %}  
      <td>{{pros7}}</td>
      </tr>
      {% endfor %}

     
        
    </table>
  </div>



  <div class="columns2">
    <table>
     
      <tr>
      {% for pla6 in pla7 %}  
      <td>{{pla6}}</td>
      </tr>
      {% endfor %} 

       <tr>
      {% for plas7 in plas7 %}  
      <td>{{plas7}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
     
        

  <div class="columns3">
    <table>
    
       <tr>
      {% if counttl7_emp == '' %}  

      <td>{{main_count7}}</td>
      {% elif counttls7_emp == '' %}
      <td>{{main_count7}}</td>

      {% else %}
      <td>{{main_count7}}</td>
      </tr>
      {% endif %}
    </table>
  </div>

</div>
<br>
{% endif %}



<!-- ================================ -->

{% if counttl8_emp == '' %}
<br>
{% else %}
<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__8}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro7 in pr8 %}  
      <td>{{pro7}}</td>
      </tr>
      {% endfor %} 

      {% for pros8 in prs8 %}  
      <td>{{pros8}}</td>
      </tr>
      {% endfor %}

    
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla7 in pla8 %}  
      <td>{{pla7}}</td>
      </tr>
      {% endfor %}

      <tr>
      {% for plas8 in plas8 %}  
      <td>{{plas8}}</td>
      </tr>
      {% endfor %} 
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
      <tr>
      {% if counttl8_emp == '' %}  

      <td>{{main_count8}}</td>
      {% elif counttls8_emp == '' %}
      <td>{{main_count8}}</td>

      {% else %}
      <td>{{main_count8}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
<br>
</div>

{% endif %}

<!-- ============================ -->
{% if counttl9_emp == '' %}
<br>
{% else %}

<div class="row">
  <div class="column">
    <table>
      
      <tr>  
      <td>{{count__9}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      
      <tr>
      {% for pro8 in pr9 %}  
      <td>{{pro8}}</td>
      </tr>
      {% endfor %} 

      {% for pros9 in prs9 %}  
      <td>{{pros9}}</td>
      </tr>
      {% endfor %}

    
        
    </table>
  </div>



  <div class="columns2">
    <table>
      
      <tr>
      {% for pla8 in pla9 %}  
      <td>{{pla8}}</td>
      </tr>
      {% endfor %} 

      <tr>
      {% for plas9 in plas9 %}  
      <td>{{plas9}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    
      <tr>
      {% if counttl9_emp == '' %}  

      <td>{{main_count9}}</td>
      {% elif counttls9_emp == '' %}
      <td>{{main_count9}}</td>

      {% else %}
      <td>{{main_count9}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
<br>
{% endif %}







<!-- ============================ -->
{% if counttl10_emp == '' %}
<br>
{% else %}

<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__10}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro9 in pr10 %}  
      <td>{{pro9}}</td>
      </tr>
      {% endfor %} 

      {% for pros10 in prs10 %}  
      <td>{{pros10}}</td>
      </tr>
      {% endfor %}

    
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla9 in pla10 %}  
      <td>{{pla9}}</td>
      </tr>
      {% endfor %} 

      <tr>
      {% for plas10 in plas10 %}  
      <td>{{plas10}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
       <tr>
      {% if counttl10_emp == '' %}  

      <td>{{main_count10}}</td>
      {% elif counttls10_emp == '' %}
      <td>{{main_count10}}</td>

      {% else %}
      <td>{{main_count10}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
<br>
{% endif %}


  <!-- ============================ -->
{% if counttl11_emp == '' %}
<br>

{% else %}

<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__11}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro10 in pr11 %}  
      <td>{{pro10}}</td>
      </tr>
      {% endfor %} 

      {% for pros11 in prs11 %}  
      <td>{{pros11}}</td>
      </tr>
      {% endfor %}

     
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla10 in pla11 %}  
      <td>{{pla10}}</td>
      </tr>
      {% endfor %}

      <tr>
      {% for plas11 in plas11 %}  
      <td>{{plas11}}</td>
      </tr>
      {% endfor %} 
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
     <tr>
      {% if counttl11_emp == '' %}  

      <td>{{main_count11}}</td>
      {% elif counttls11_emp == '' %}
      <td>{{main_count11}}</td>

      {% else %}
      <td>{{main_count11}}</td>
      </tr>
      {% endif %}
    </table>
  </div>

</div>
<br>
{% endif %}

  <!-- ============================ -->
{% if counttl12_emp == '' %}
<br>
{% else %}
<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__12}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro11 in pr12 %}  
      <td>{{pro11}}</td>
      </tr>
      {% endfor %} 

      {% for pros12 in prs12 %}  
      <td>{{pros12}}</td>
      </tr>
      {% endfor %}

     
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla11 in pla12 %}  
      <td>{{pla11}}</td>
      </tr>
      {% endfor %}

       <tr>
      {% for plas12 in plas12 %}  
      <td>{{plas12}}</td>
      </tr>
      {% endfor %}


    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
      <tr>
      {% if counttl12_emp == '' %}  

      <td>{{main_count12}}</td>
      {% elif counttls12_emp == '' %}
      <td>{{main_count12}}</td>

      {% else %}
      <td>{{main_count12}}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
<br>
{% endif %}




    <!-- ============================ -->
{% if counttl13_emp == '' %}
<br>
{% else %}

<div class="row">
  <div class="column">
    <table>
      <!-- <tr>
        <th>FULL NAME</th>
      </tr> -->
      <tr>  
      <td>{{count__13}}</td>
      </tr>
    </table>
  </div>

  <div class="columns1">
    <table>
      <!-- <tr>
        <th>Project & Platform Details</th>
      </tr> -->
      <tr>
      {% for pro12 in pr13 %}  
      <td>{{pro12}}</td>
      </tr>
      {% endfor %}

      {% for pros13 in prs13 %}  
      <td>{{pros13}}</td>
      </tr>
      {% endfor %}

 
        
    </table>
  </div>



  <div class="columns2">
    <table>
      <!-- <tr>
        <th>Project Count</th>
      </tr> -->
      <tr>
      {% for pla12 in pla13 %}  
      <td>{{pla12}}</td>
      </tr>
      {% endfor %} 

      <tr>
      {% for plas13 in plas13%}  
      <td>{{plas13}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
       
        

  <div class="columns3">
    <table>
    <!--   <tr>
        <th>Total Count</th>
      </tr> -->
     <tr>
      {% if counttl13_emp == '' %}  

      <td>{{main_count13}}</td>
      {% elif counttls13_emp == '' %}
      <td>{{main_count13}}</td>

      {% else %}
      <td>{{main_count13}}</td>
      </tr>
      {% endif %}
    </table>
  </div>



</div>

<br>
{% endif %}
        
      
      
        
  



{% endblock content %}